.datatable-container-proj
{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
}

.datatable-container-org
{
 display: flex;
  flex-direction: column;
  height: calc(100vh - 310px);
}

.my-flexible-table {
  width: 100%;
}

.my-flexible-table .p-datatable-wrapper {
  overflow: hidden;
}

.my-flexible-table .p-datatable-table {
  table-layout: auto;
}

.my-flexible-table .flexible-column {
  width: 0px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.value-cells {
  padding-right: 15px;
}

/* This targets the last visible column */
.my-flexible-table .flexible-column:last-child {
  width: auto;
}

.custom-title .p-column-title {
  display: flex;
  align-items: center;
}

.custom-title .p-column-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  flex-direction: row;
}

/* Ensure the th takes full height */
.vertical-table-mode th {
  vertical-align: bottom;
}

/* Header content wrapper */
.vertical-table-mode .p-column-header-content {
  flex-direction: column;
  align-items: flex-start;   /* align content to left */
}

/* Vertically rendered text */
.custom-vertical-header {
  writing-mode: sideways-lr;
  white-space: nowrap;
  display: flex;
  align-items: center; /* aligns inline items like tooltip icon */
  padding: 0;
}

.custom-vertical-header .vertical-text {
  white-space: nowrap;
}

.custom-icon-container {
  display: flex;
  align-items: center;
  padding: 5px;
}