steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'
  - task: Npm@1
    inputs:
      command: 'custom'
      customCommand: 'ci'
  - task: Npm@1
    inputs:
      command: 'custom'
      customCommand: 'run build'