steps:
  - task: NodeTool@0
    displayName: 'Install Node.js'
    inputs:
      versionSpec: '18.x'
  - task: Npm@1
    displayName: 'npm ci'
    inputs:
      command: 'custom'
      customCommand: 'ci'
#  - task: Npm@1
#    displayName: 'npm run build'
#    inputs:
#      command: 'custom'
#      customCommand: 'run build'