parameters:
  - name: appName
    type: string
  - name: resourceGroup
    type: string

steps:
  - task: PowerShell@2
    displayName: Create SWA config
    inputs:
      targetType: 'inline'
      script: |
        $json = (get-content ./swa-cli.config.json) | convertfrom-json
        $json.configurations.'austrakka-client'.appName = "${{ parameters.appName }}"
        $json.configurations.'austrakka-client'.resourceGroup = "${{ parameters.resourceGroup }}"
        $json | ConvertTo-Json > swa-cli.config.json