parameters:
  - name: environment
    type: string

steps:
  - task: AzureStaticWebApp@0
    inputs:
      app_location: 'dist'
      skip_app_build: true
      azure_static_web_Apps_api_token: $(swa_token)
      config_file_location: 'swa-cli.config.${{ parameters.environment }}.json'
