.logo {
  height: 45px;
  margin: 8px;
  /* padding: 5px; */
}

:global(.app-container.compact-mode) .logo {
  height: 40px;
  margin: 4px;
}

.pagelist {
  height: 100vh;
}

.pagelist li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pagelist a {
  text-decoration: none;
  color: var(--primary-main);
  display: flex;
}
