.logocontainer {
    flex-grow: 1;
}

.logo {
    height: 45px;
    margin: 8px;
    /* padding: 5px; */
}

.drawer { 
    z-index: 10;
    
}
.drawerpaper {
    width: 160px;
    justify-content: center;
}
.pagelist {
    height: 100vh;
}

.pagelist li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pagelist a {
    text-decoration: none;
    color: var(--primary-blue);
    display: flex;
}
