.key-cell {
    width: 180px;
    border-bottom: none;
    padding-left: 10px;
}

.key-cell-editing {
    width: 180px;
    border-bottom: none;
    padding-left: 10px;
}

.value-cell {
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.value-cell-editing {
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.basic-info-table {
    margin-top: 1em;
    border: none;
    padding: 20px;
    border-radius: 6px;
    height: 530px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.basic-info-table .table-container {
    flex-grow: 1;
    overflow-y: auto;
}
