.loading-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-main-bg);
    overflow: hidden;
}

.ripple {
    position: absolute;
    border-radius: 100%;
    background: transparent;
    border: 2px solid transparent; /* Optional border around the ripple */
    box-shadow: 0 0 0 0 rgba(var(--secondary-main-rgb), 0.4); /* Initial green shadow */
    animation: pulse 2s infinite;
}

.image {
    position: relative;
    z-index: 1;
    width: 100px; /* Adjust size as needed */
    height: 100px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(var(--secondary-main-rgb), 0.4);
    }
    70% {
        box-shadow: 0 0 0 100px rgba(var(--secondary-main-rgb), 0); /* Expanding, fading shadow */
    }
    100% {
        box-shadow: 0 0 0 0 rgba(var(--secondary-main-rgb), 0); /* Reset to initial */
    }
}

.fade {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

