:root {
    --primary-blue: #0a3546;
    --primary-green: #90CA6D;
    --primary-grey: #F6F7F8;
    --secondary-dark-grey: #353333;
    --secondary-light-grey: #B3B3B3;
    --secondary-teal: #3E7784;
    --secondary-light-green: #68934B;
    --secondary-dark-green: #375C2B;
    --secondary-blue: #014F86;
    --secondary-purple: #B9A8D2;
    --secondary-orange: #D7534C;
    --secondary-red: #A81E2C;
    --secondary-yellow: #FCAF17;
    color-scheme: light;
}

@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

html, body, span {
    font-family: Roboto, 'Open Sans';
}

/* CSS that is applied across all pages */
.page {
    margin-left: 70px;
    /* transition: all 330ms ease-in-out; */
    padding: 0px 35px 0px 35px;
    /* width: 100vw; */
    /* background-image: linear-gradient( #FFFFFF, #EEF2F6); */
    min-height: 100vh;
}

.pagePadded {
    /* transform: translate(150px); */
    transition: all 330ms ease-in-out;
    padding: 0px 35px 0px 35px;
    margin-left: 190px;
    min-height: 100vh;
    /* width: calc(100vw - 240px);  */
    /* background-image: linear-gradient( #FFFFFF, #EEF2F6); */
}

.pageHeader {
    margin-bottom: 20px;
    padding-top: 20px;
}

.breadcrumbs a {
    color: var(--primary-blue) ;
    text-decoration: none ;
    padding-bottom: 10px;
}

.breadcrumbs a:hover {
    color: var(--primary-blue) ;
    text-decoration: underline ;
    padding-bottom: 10px;
}

.breadcrumbs p {
    color: var(--primary-blue) ;
}

.breadcrumbs li {
    color: var(--primary-blue) ;
}

.pageTitle {
    color: var(--primary-blue);
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 10px;
}