@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

html, body, span {
    font-family: Roboto, 'Open Sans';
}

/* CSS that is applied across all pages */
.page {
    margin-left: 70px;
    /* transition: all 330ms ease-in-out; */
    padding: 0px 35px 0px 35px;
    /* width: 100vw; */
    min-height: 100vh;
}

.pagePadded {
    /* transform: translate(150px); */
    transition: all 330ms ease-in-out;
    padding: 0px 35px 0px 35px;
    margin-left: 190px;
    min-height: 100vh;
    /* width: calc(100vw - 240px);  */
}

.pageHeader {
    margin-bottom: 20px;
    padding-top: 20px;
}

.breadcrumbs a {
    color: var(--primary-main) ;
    text-decoration: none ;
    padding-bottom: 10px;
}

.breadcrumbs a:hover {
    color: var(--primary-main) ;
    text-decoration: underline ;
    padding-bottom: 10px;
}

.breadcrumbs p {
    color: var(--primary-main) ;
}

.breadcrumbs li {
    color: var(--primary-main) ;
}

.pageTitle {
    color: var(--primary-main);
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 10px;
}