:root {
    --primary-blue: #0a3546;
    --primary-green: #90CA6D;
    --primary-grey: #F6F7F8;
    --secordary-dark-grey: #353333;
    --secordary-light-grey: #B3B3B3;
    --secordary-teal: #3E7784;
    --secordary-light-green: #68934B;
    --secordary-dark-green: #375C2B;
    --secordary-blue: #014F86;
    --secordary-purple: #B9A8D2;
    --secordary-orange: #D7534C;
    --secordary-red: #A81E2C;
    --secordary-yellow: #FCAF17;
}

@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

html, body, span {
    font-family: Roboto, 'Open Sans';
}

/* CSS that is applied across all pages */
.page {
    transition: margin-left 1s;
    margin-left: 0px;
    padding: 35px;
}

.pagePadded {
    transition: margin-left 0.5s;
    margin-left: 150px;
    padding: 35px;
}
.pageHeader {
    margin-bottom: 20px;
}

.breadcrumbs, .breadcrumbs #link {
    color: var(--primary-blue) ;
    text-decoration: none ;
    padding-bottom: 10px;
}

.pageTitle {
    color: var(--primary-blue);
    font-weight: bold;
    font-size: 2rem;
}