resources:
  repositories:
    - repository: Pipelines
      type: github
      name: AusTrakka/austrakka-pipelines
      ref: Development
      endpoint: AusTrakka
    - repository: Infra
      type: github
      endpoint: AusTrakka
      name: AusTrakka/austrakka2-infra
      ref: Development


trigger: none

pr: none

pool:
  name: Test

variables:
  azureConnection: 'AusTrakka Dev (austrakka tenancy)'
  azureConnectionAdmin: 'AusTrakka Admin (austrakka tenancy)'
  backendAzureRmResourceGroupName: 'rg-devterf-shd-as-1'
  backendAzureRmStorageAccountName: 'stdevterfshdas1'
  backendAzureRmContainerName: 'state'
  backendAzureRmKey: '$(EnvId).tfstate'
  terraformOutputArtifact: 'TerraformOutput'
  buildDir: '$(Build.BinariesDirectory)/$(Build.BuildNumber)'
  sourceDir: '$(Pipeline.Workspace)/$(Build.BuildNumber)'

stages:
  - stage: CheckoutRepos
    jobs:
      - job: CheckoutPortal
        steps:
          - template: templates/checkout/self.yml
          - template: templates/checkout/infra.yml@Pipelines
          - template: templates/checkout/pipelines.yml@Pipelines
          - template: templates/terraform/init.yml@Pipelines
            parameters:
              workingDirectory: $(sourceDir)/infra/autotests
          - template: templates/terraform/output.yml@Pipelines
            parameters:
              outputFileDir: $(buildDir)/tf
              workingDirectory: $(sourceDir)/infra/autotests
          - template: templates/deploy-client.yml