resources:
  repositories:
    - repository: Client
      type: github
      name: AusTrakka/austrakka-client
      ref: $(Build.SourceBranch) 
      endpoint: AusTrakka
    - repository: Pipelines
      type: github
      name: AusTrakka/austrakka-pipelines
      ref: Development
      endpoint: AusTrakka
    - repository: Infra
      type: github
      endpoint: AusTrakka
      name: AusTrakka/austrakka2-infra
      ref: Development # TODO: this should possibly be configurable.


trigger: none

pr: none

pool:
  name: Test

variables:
  azureConnection: 'AusTrakka Dev (austrakka tenancy)'
  azureConnectionAdmin: 'AusTrakka Admin (austrakka tenancy)'
  backendAzureRmResourceGroupName: 'rg-devterf-shd-as-1'
  backendAzureRmStorageAccountName: 'stdevterfshdas1'
  backendAzureRmContainerName: 'env'
  backendAzureRmKey: '$(EnvId)/$(EnvId).tfstate'
  buildDir: '$(Build.BinariesDirectory)/$(Build.DefinitionName)/$(Build.BuildNumber)'
  sourceDir: '$(Pipeline.Workspace)/$(Build.DefinitionName)/$(Build.BuildNumber)'

stages:
  - stage: DeployClient
    jobs:
      - template: templates/jobs/deployment/client.yml@Pipelines
