trigger:
  branches:
    include:
      - Development

pr: none

pool:
  vmImage: ubuntu-latest

steps:
  - template: templates/build.yml
  - template: templates/create-swa-config.yml
    parameters:
      appName: "stapp-autr-dev-ase-01"
      resourceGroup: "rg-autr-dev-ase-01"
  - template: templates/deploy.yml
