resources:
  repositories:
    - repository: Client
      type: github
      name: AusTrakka/austrakka-client
      ref: $(Build.SourceBranch)
      endpoint: AusTrakka
    - repository: Pipelines
      type: github
      name: AusTrakka/austrakka-pipelines
      ref: 5929-client-test-cicd
      endpoint: AusTrakka

trigger: none

pr:
  - Development
  - UAT
  - master

pool:
  name: Test

variables:
  - template: variables/devops/setup.yml@Pipelines

stages:
  - stage: CheckoutRepos
    jobs:
      - job: CheckoutClient
        steps:
          - template: templates/checkout/client.yml@Pipelines
          - template: templates/build/client/build.yml@Pipelines
          - template: templates/test/unit/client.yml@Pipelines
