resources:
  repositories:
    - repository: Pipelines
      type: github
      name: AusTrakka/austrakka-pipelines
      ref: master
      endpoint: AusTrakka
    - repository: Infra
      type: github
      endpoint: AusTrakka
      name: AusTrakka/austrakka2-infra
      ref: 5604-prod-env # TODO: update this to master when merged through

trigger:
  branches:
    include:
      - master

pr: none

pool:
  name: UAT-New

variables:
  azureConnection: 'AusTrakka Prod'
  azureConnectionAdmin: 'AusTrakka Data (Agent Pool)'
  backendAzureRmResourceGroupName: 'rg-prodterf-shd-as-1'
  backendAzureRmStorageAccountName: 'stprodterfshdas1'
  backendAzureRmContainerName: 'state'
  backendAzureRmKey: '$(EnvId).tfstate'
  terraformOutputArtifact: 'TerraformOutput'
  buildDir: '$(Build.BinariesDirectory)/$(Build.BuildNumber)'
  sourceDir: '$(Pipeline.Workspace)/$(Build.BuildNumber)'

stages:
  - stage: CheckoutRepos
    jobs:
      - job: CheckoutPortal
        steps:
          - template: templates/checkout/self.yml
          - template: templates/checkout/infra.yml@Pipelines
          - template: templates/checkout/pipelines.yml@Pipelines
          - template: templates/terraform/output.yml@Pipelines
            parameters:
              outputFileDir: $(buildDir)/tf
          - template: templates/deploy-client.yml