@import "../../../node_modules/primereact/resources/themes/fluent-light/theme.css";


:root {
    --primary-color: #90ca6d;
    --primary-50: #e8f5e9;
    --primary-100: #c8e6c9;
    --primary-200: #a5d6a7;
    --primary-300: #81c784;
    --primary-400: #66bb6a;
    --primary-500: #4caf50;
    --primary-600: #43a047;
    --primary-700: #388e3c;
    --primary-800: #2e7d32;
    --primary-900: #1b5e20;
    
    }

    .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px var(--primary-800);
        border-color: var(--primary-color);
      }

      .p-checkbox .p-checkbox-box.p-disabled,
  .p-radiobutton .p-radiobutton-box.p-disabled,
  .p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container.p-disabled,
  .p-chips .p-chips-multiple-container.p-disabled {
    background-color: #f3f2f1;
    border-color: #f3f2f1;
    color: #a19f9d;
    opacity: 1;
    user-select: none;
  }
  .p-checkbox .p-checkbox-box:not(.p-disabled).p-focus,
  .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus,
  .p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container:not(.p-disabled).p-focus,
  .p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
    box-shadow: inset 0 0 0 1px var(--primary-800);
  }

  .p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background: var(--primary-color);
  }

  .p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--primary-color);
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--primary-500);
    background: var(--primary-color);
  }
  .p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
    border-color: var(--primary-500);
    background: var(--primary-color);
    color: var(--primary-50);
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 1px #605e5c;
    border-color: var(--primary-500);
  }


  .p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--primary-500);
  }

  .p-datatable-header {
    height: 60px;
  }
    