@import "../../../node_modules/primereact/resources/themes/fluent-light/theme.css";

    .p-datatable.p-datatable-gridlines {
      --data-table-border-color: var(--primary-grey-300); /* This will change the border 
                                                    colours should be some sort of grey */
    }
    
    .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th,
    .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td,
    .p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td {
      border-color: var(--data-table-border-color) !important;
    }

    .p-datatable-wrapper
    {
      min-height: 80px;
    }

    .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px var(--primary-800);
        border-color: var(--primary-color);
      }

      .p-checkbox .p-checkbox-box.p-disabled,
  .p-radiobutton .p-radiobutton-box.p-disabled,
  .p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container.p-disabled,
  .p-chips .p-chips-multiple-container.p-disabled {
    background-color: var(--primary-grey-50);
    border-color: var(--primary-grey-50);
    color: var(--primary-grey-500);
    opacity: 1;
    user-select: none;
  }
  .p-checkbox .p-checkbox-box:not(.p-disabled).p-focus,
  .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus,
  .p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container:not(.p-disabled).p-focus,
  .p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
    box-shadow: inset 0 0 0 1px var(--primary-800);
  }

  .p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background: var(--primary-color);
  }

  .p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--primary-color);
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--primary-500);
    background: var(--primary-color);
  }
  .p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
    border-color: var(--primary-500);
    background: var(--primary-color);
    color: var(--primary-50);
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 1px var(--primary-grey-700);
    border-color: var(--primary-500);
  }


  .p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--primary-500);
  }

  .p-datatable-header {
    height: 60px;
  }
  
  #activity-table .p-datatable-tbody > tr {
      line-height: 40px;
  }

  /*#activity-table .p-datatable th,*/
  #activity-table .p-datatable-tbody td
  {
      border-left: none !important;
      border-right: none !important;
      border-top: none !important;
  }
  
  #activity-table .p-datatable-thead th {
      border-left: none !important;
      border-right: none !important;
      height: 56px;
  }
/* Indent only the ID column for child rows */
.child-table-container .p-datatable .p-column-id {
    padding-left: 20px; /* Indentation for the ID column */
}

/* Remove the header for the child table */
.child-table-container .p-datatable .p-datatable-thead {
    display: none;
}
