@import "../../../node_modules/primereact/resources/themes/fluent-light/theme.css";

    .p-datatable.p-datatable-gridlines {
      --data-table-border-color: var(--primary-grey-300); /* This will change the border 
                                                    colours should be some sort of grey */
    }
    
    .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th,
    .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td,
    .p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td {
      border-color: var(--data-table-border-color) !important;
    }

    .p-datatable-wrapper
    {
      min-height: 80px;
    }

    .p-dropdown:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 1px var(--secondary-light-green);
        border-color: var(--secondary-light-green);
      }

    .p-checkbox.p-highlight .p-checkbox-box {
        border-color: var(--secondary-light-green);
        background: var(--secondary-light-green);
    }
    .p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
        border-color: var(--secondary-dark-grey);
    }
    .p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover).p-highlight .p-checkbox-box {
        border-color: var(--secondary-dark-green);
        background: var(--secondary-dark-green);
        color: #ffffff;
    }
    .p-checkbox:not(.p-disabled):has(.p-checkbox-input:focus-visible) .p-checkbox-box {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: inset 0 0 0 1px var(primary-grey-700);
        border-color: var(--secondary-light-green);
    }

    .p-datatable .p-column-resizer-helper {
        background: var(--secondary-main);
    }
    

  .p-datatable-header {
    height: 50px;
  }
    
